@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

@layer base {
    body {
        background-color: #ffc8dd;
        font-family: 'Poppins', sans-serif;
    }

    details > summary {
        list-style: none;
    }
      
    details summary::-webkit-details-marker {
        display:none;
    }

    .content {
        @apply w-full px-10 sm:px-0 max-w-xl sm:max-w-xl md:max-w-3xl lg:max-w-4xl mx-auto;
    }

    .content-faq {
        @apply w-full px-2 sm:px-0 max-w-xl sm:max-w-xl md:max-w-3xl lg:max-w-4xl mx-auto;
    }

    .content-contact {
        @apply w-full px-4 sm:px-0 max-w-xl sm:max-w-xl md:max-w-3xl lg:max-w-4xl mx-auto;
    }

    .content-xl {
        @apply w-full px-10 sm:px-0 max-w-xl sm:max-w-xl md:max-w-2xl lg:max-w-6xl mx-auto;
    }

}

@layer components {
    .blur-overlay {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+60,000000+100&0.65+0,1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    }

    .navlink {
        @apply py-5;
    }

    .btn-primary {
        @apply px-4 py-3 border-2 border-[#d47699] hover:border-[#bb6686] text-[#fff] hover:bg-[#bb6686] bg-[#d47699] hover:text-[#fff] shadow-xl transition-colors duration-300 rounded-md mr-2;
    }

    .btn-secondary {
        @apply px-4 py-3 border-2 border-[#fff] text-[#fff]  hover:bg-[#fff] hover:text-[#000] shadow-xl transition-colors duration-300 rounded-md mr-2;
    }

    .nav-btn {
        @apply py-3 px-4 duration-300 cursor-pointer border-b-2 border-[#fff0] hover:border-[#fff];
    }

    .nav-btn-active {
        @apply py-3 px-4 border-[#fff] border-b-2 ;
    }

    .nav-menu-white {
        @apply flex items-center uppercase text-xs text-[#fff] font-bold tracking-wide;
    }

    .nav-menu-pink { 
        @apply flex items-center uppercase text-xs text-[#d47699] font-bold tracking-wide
    }

    .card {
        @apply bg-[#fff] rounded-3xl shadow-lg;
    }

    .scale:hover {
        transform: scale(1.05);
        @apply shadow-md duration-300 ;
        @apply relative;
        @apply z-10;
      }
    .scale {
        transform: scale(1);
        @apply duration-300;
    }
}